nodered/flows.json
[{"id":"10247af3.6f7cad","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"29e73a2.fd00146","type":"modbus-read","z":"10247af3.6f7cad","name":"FC3 - time&relay","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"9","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"43cd775c.97418","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":180,"y":140,"wires":[["19fc7c6b.e9ce9c"],[]]},{"id":"19fc7c6b.e9ce9c","type":"function","z":"10247af3.6f7cad","name":"FC3 conversion - time&relay","func":"\nfunction lowByte(val) {\n    return val & 0xFF;\n}\n\nfunction hiByte(val) {\n    return (val >> 8) & 0xFF;\n}\n\nfunction dec2bin(val) {\n  return (val >>> 0).toString(2);\n}\n\nfunction dec2hex(val) {\n  return (val >>> 0).toString(16);\n}\n\nfunction getBit(number, bitPosition) {\n  return (number & (1 << bitPosition)) === 0 ? false : true;\n}\n\nfunction pad(val) {\n    if(val < 10) {\n        return '0' + val;\n    } else {\n        return val;\n    }\n}\n\nvar mappedArray = msg.payload ;\n\nvar second = lowByte(mappedArray[0]);\nvar minutes = hiByte(mappedArray[0]);\nvar hours = lowByte(mappedArray[1]);\nvar dayOfWeek = hiByte(mappedArray[1]);\nvar timeSet =  lowByte(mappedArray[2]);\nvar time8563 = hiByte(mappedArray[2]);\nvar day =  lowByte(mappedArray[3]);\nvar month = hiByte(mappedArray[3]);\nvar year =  mappedArray[4];\nvar relay = mappedArray[5];\n\nvar dateS = pad(hours).toString() + ':' + pad(minutes).toString() + ' ' + \n             day.toString()+ '.' +  month.toString()+ '.20' + year.toString();\n\nvar sec =    { payload: second, topic: \"gbo/sec\"};\nvar min =    { payload: minutes, topic: \"gbo/min\"};\nvar hour =       {  payload: hours, topic: \"gbo/hour\"};\nvar dayOnWeek =  {  payload: dayOfWeek, topic: \"gbo/day\"};\nvar d =  {  payload: day, topic: \"gbo/day\"};\nvar m =  {  payload: month, topic: \"gbo/month\"};\nvar y =  {  payload: 20+year, topic: \"gbo/year\"};\nvar dateStr =       {  payload: dateS  , topic: \"gbo/timestampStr\"};\n\nvar k1 =  {  payload: getBit(relay,0), topic: \"gbo/k1\"};\nvar k2 =  {  payload: getBit(relay,1), topic: \"gbo/k2\"};\nvar k3 =  {  payload: getBit(relay,2), topic: \"gbo/k3\"};\nvar k4 =  {  payload: getBit(relay,3), topic: \"gbo/k4\"};\nvar k5 =  {  payload: getBit(relay,4), topic: \"gbo/k5\"};\nvar nt =  {  payload: getBit(relay,5), topic: \"gbo/nt\"};\n\n\nreturn [\n        sec, min, hour, dayOnWeek, d, m, y, dateStr,\n        k1, k2, k3, k4, k5, nt \n    ]\n\n\n","outputs":14,"noerr":0,"x":520,"y":140,"wires":[[],[],[],[],[],[],[],["b3f8dde9.87512"],["fe345232.c3156"],["f79ebe6d.ddbab8"],["8e166aab.3d1138"],["c08b97d0.5d12c"],["986e6d2e.141508"],["ef2ece1d.071328"]],"outputLabels":["sec","min","hour","dayOnWeek","d","m","y","dateStr","k1","k2","k3","k4","k5","nt"]},{"id":"ca4d8c.6ea8aa78","type":"modbus-read","z":"10247af3.6f7cad","name":"FC4 - measure","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"45","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"43cd775c.97418","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":180,"y":360,"wires":[["f68981eb.4bb95"],[]]},{"id":"541f9160.381de","type":"comment","z":"10247af3.6f7cad","name":"GBO-AKU ModBus","info":"","x":170,"y":40,"wires":[]},{"id":"f68981eb.4bb95","type":"function","z":"10247af3.6f7cad","name":"FC4 - conversion - measure","func":"function lowByte(val) {\n    return val & 0xFF;\n}\n\nfunction hiByte(val) {\n    return (val >> 8) & 0xFF;\n}\n\nfunction dec2bin(val) {\n  return (val >>> 0).toString(2);\n}\n\nfunction dec2hex(val) {\n  return (val >>> 0).toString(16);\n}\n\nfunction getBit(number, bitPosition) {\n  return (number & (1 << bitPosition)) === 0 ? false : true;\n}\n\n                                           // conversion word to int\nfunction word2int(val) {\n    var rc = val;\n    if ( val >= 32767)  {\n        rc = (65535 -  val)* (-1) ; \n    }\n    return rc;\n}\n\n// Read Input Register, Function code 3\nvar mappedArray = msg.payload ;\n\n// measured values from the converter without conversion\nvar dacI1 = word2int(mappedArray[0]);\nvar dacI2 = word2int(mappedArray[1]);\nvar dacI3 = word2int(mappedArray[2]);\n\nvar sr1 = lowByte(mappedArray[9]);\nvar sr2 = lowByte(mappedArray[18]);\nvar sr3 = lowByte(mappedArray[26]);\n\nvar daci1 =  {  payload: dacI1, topic: \"gbo/dacI1\"};\nvar daci2 =  {  payload: dacI2, topic: \"gbo/dacI2\"};\nvar daci3 =  {  payload: dacI3, topic: \"gbo/dacI3\"};\nvar ssr1 =  {  payload: sr1, topic: \"gbo/ssr1\"};\nvar ssr2 =  {  payload: sr2, topic: \"gbo/ssr2\"};\nvar ssr3 =  {  payload: sr3, topic: \"gbo/ssr3\"};\n\n\nreturn [\n        daci1, daci2, daci3, ssr1, ssr2, ssr3  \n    ]\n\n","outputs":6,"noerr":0,"x":520,"y":360,"wires":[["c5fc9f4c.9023c8"],["46beeeb3.355468"],["a9d0092a.126798"],["9565378a.466d28"],["b84ac7b2.9b857"],["55cd9618.a7cd08"]],"outputLabels":["daci1","daci2","daci3","ssr1","ssr2","ssr3"]},{"id":"b6bc307.1d5bdd","type":"modbus-read","z":"10247af3.6f7cad","name":"FC3 - config","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"20","quantity":"36","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"43cd775c.97418","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":620,"wires":[["4434c403.88a07c"],[]]},{"id":"4434c403.88a07c","type":"function","z":"10247af3.6f7cad","name":"FC3- conversion - confuguration","func":"function lowByte(val) {\n    return val & 0xFF;\n}\n\nfunction hiByte(val) {\n    return (val >> 8) & 0xFF;\n}\n\nfunction dec2bin(val) {\n  return (val >>> 0).toString(2);\n}\n\nfunction dec2hex(val) {\n  return (val >>> 0).toString(16);\n}\n\nfunction getBit(number, bitPosition) {\n  return (number & (1 << bitPosition)) === 0 ? false : true;\n}\n\n\nfunction pad(val) {\n    if(val < 10) {\n        return '0' + val;\n    } else {\n        return val;\n    }\n}\n\nfunction getTimeStamp(val) {\n    return pad(hiByte(val)).toString() + \":\" + pad(lowByte(val)).toString();\n}\n\n\n\nvar mappedArray = msg.payload ;\n\nvar configWord = mappedArray[0];\n\n// surpluses at NT time, PI regulator together with NT Timer2\n// false means enable\nvar surplusesNT = !getBit(mappedArray[0], 5);\n\nvar firmware =    { payload: mappedArray[7].toString() , topic: \"gbo/firmware\"};\nvar ntWithPI =    { payload: surplusesNT  , topic: \"gbo/surplusesNT\"};\n\n\nvar sh2Start1 = { payload: getTimeStamp(mappedArray[16])  , topic: \"gbo/sh2Start1Str\"};\nvar sh2Stop1 = { payload: getTimeStamp(mappedArray[17])  , topic: \"gbo/sh2Stop1Str\"};\nvar sh2Start2 = { payload: getTimeStamp(mappedArray[18])  , topic: \"gbo/sh2Start2Str\"};\nvar sh2Stop2 = { payload: getTimeStamp(mappedArray[19])  , topic: \"gbo/sh2Stop2Str\"};\n\nreturn [\n          firmware,\n          ntWithPI,\n          sh2Start1, sh2Stop1, sh2Start2, sh2Stop2 \n       ]","outputs":6,"noerr":0,"x":460,"y":620,"wires":[["1c3b8c8f.92ffeb"],["c4ae7b8f.dae7e"],["1c56b362.dd2095"],["820ff7c6.e8974"],["3a73d511.7736ea"],["a09db9b2.78c31"]],"outputLabels":["firmware","ntWithPI","sh2Start1","sh2Stop1","sh2Start2","sh2Stop2"]},{"id":"1c3b8c8f.92ffeb","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":22,"width":0,"height":0,"name":"","label":"Firmware:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":840,"y":600,"wires":[]},{"id":"b3f8dde9.87512","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":21,"width":0,"height":0,"name":"time","label":"Čas GBO:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":790,"y":40,"wires":[]},{"id":"fe345232.c3156","type":"ui_led","z":"10247af3.6f7cad","order":10,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"k1","x":790,"y":80,"wires":[]},{"id":"f79ebe6d.ddbab8","type":"ui_led","z":"10247af3.6f7cad","order":11,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"k2","x":790,"y":120,"wires":[]},{"id":"8e166aab.3d1138","type":"ui_led","z":"10247af3.6f7cad","order":12,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"k3","x":790,"y":160,"wires":[]},{"id":"c08b97d0.5d12c","type":"ui_led","z":"10247af3.6f7cad","order":13,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"k4","x":790,"y":200,"wires":[]},{"id":"986e6d2e.141508","type":"ui_led","z":"10247af3.6f7cad","order":14,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"k5","x":790,"y":240,"wires":[]},{"id":"ef2ece1d.071328","type":"ui_led","z":"10247af3.6f7cad","order":9,"group":"32a4319d.d813fe","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#00fdff","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"nt","x":790,"y":280,"wires":[]},{"id":"9565378a.466d28","type":"ui_gauge","z":"10247af3.6f7cad","name":"ssr1","group":"32a4319d.d813fe","order":4,"width":"2","height":"2","gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"255","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":440,"wires":[]},{"id":"b84ac7b2.9b857","type":"ui_gauge","z":"10247af3.6f7cad","name":"ssr2","group":"32a4319d.d813fe","order":5,"width":"2","height":"2","gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"255","colors":["#b51a00","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":480,"wires":[]},{"id":"55cd9618.a7cd08","type":"ui_gauge","z":"10247af3.6f7cad","name":"ssr3","group":"32a4319d.d813fe","order":6,"width":"2","height":"2","gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"255","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":520,"wires":[]},{"id":"c5fc9f4c.9023c8","type":"ui_gauge","z":"10247af3.6f7cad","name":"dac1","group":"32a4319d.d813fe","order":23,"width":"2","height":"1","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-100","max":"100","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":320,"wires":[]},{"id":"46beeeb3.355468","type":"ui_gauge","z":"10247af3.6f7cad","name":"dac2","group":"32a4319d.d813fe","order":24,"width":"2","height":"1","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-100","max":"100","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":360,"wires":[]},{"id":"a9d0092a.126798","type":"ui_gauge","z":"10247af3.6f7cad","name":"dac3","group":"32a4319d.d813fe","order":25,"width":"2","height":"1","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-100","max":"100","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","className":"","x":790,"y":400,"wires":[]},{"id":"8f849128.c0e478","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":7,"width":"1","height":"1","name":"txtnt","label":"NT","format":" ","layout":"row-spread","className":"","x":910,"y":280,"wires":[]},{"id":"4c10c10c.48284","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":8,"width":"5","height":"1","name":"txtk1-k5","label":"K1 - K5","format":" ","layout":"row-spread","className":"","x":920,"y":80,"wires":[]},{"id":"4a7a5f93.3835d8","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":1,"width":"2","height":"1","name":"txtssr1","label":"SSR 1","format":" ","layout":"row-center","className":"","x":910,"y":440,"wires":[]},{"id":"c2f827f8.75efb8","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":2,"width":"2","height":"1","name":"txtssr2","label":"SSR 2","format":" ","layout":"row-center","className":"","x":910,"y":480,"wires":[]},{"id":"d9b270d3.f81f1","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":3,"width":"2","height":"1","name":"txtssr3","label":"SSR 3","format":" ","layout":"row-center","className":"","x":910,"y":520,"wires":[]},{"id":"c4ae7b8f.dae7e","type":"ui_led","z":"10247af3.6f7cad","order":15,"group":"32a4319d.d813fe","width":0,"height":0,"label":"Využití NT s přebytky","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#444444","value":"false","valueType":"bool"},{"color":"#ff2600","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"NTwithPI","x":840,"y":640,"wires":[]},{"id":"1c56b362.dd2095","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":17,"width":"3","height":"1","name":"","label":"od:","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":680,"wires":[]},{"id":"820ff7c6.e8974","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":18,"width":"3","height":"1","name":"","label":"do:","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":720,"wires":[]},{"id":"3a73d511.7736ea","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":19,"width":"3","height":"1","name":"","label":"od:","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":760,"wires":[]},{"id":"a09db9b2.78c31","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":20,"width":"3","height":"1","name":"","label":"do:","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":800,"wires":[]},{"id":"1490e889.6a0d47","type":"ui_text","z":"10247af3.6f7cad","group":"32a4319d.d813fe","order":16,"width":"6","height":"1","name":"txt-from-to","label":"Spínací intervaly v rámci NT","format":" ","layout":"row-spread","className":"","x":990,"y":680,"wires":[]},{"id":"43cd775c.97418","type":"modbus-client","z":"","name":"192.168.2.12","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.2.12","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"300","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"32a4319d.d813fe","type":"ui_group","z":"","name":"GBO-AKU","tab":"ed5615e0.e9ac98","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ed5615e0.e9ac98","type":"ui_tab","z":"","name":"GBO AKU","icon":"dashboard","order":2,"disabled":false,"hidden":false}]